.slider-section__slider-container {
  overflow: hidden; 
}
 
.slider { 
  display: flex;
  align-items: center;
  column-gap: 20px; 
  position: relative;
  transition: right 0.5s ease-in-out;
} 

.slider:first-child {
  padding-left: 82px;
  @media (max-width: 1060px) {
    padding-inline: 8px;
  }
}

.slider:last-child {
  padding-right: 82px;
  @media (max-width: 1060px) {
    padding-inline: 8px;
  }
}

.slider__img {
  object-fit: cover;
  border-radius: var(--border-radius);
  height: 200px;
  width: 200px;
}

