:root {
  --primary: hsl(0, 100%, 64%);
  --primary-10: hsla(0, 100%, 64%, 0.102);
  --dark: hsl(226, 26%, 13%);
  --static-white: hsl(0, 0%, 100%); 
  --static-white-40: hsla(0, 0%, 100%, 0.4);
  --static-white-20: #FFFFFF33;
  --tag-purple: hsl(230, 100%, 63%);
  --tag-pink: hsl(303, 100%, 63%);
  --tag-green: hsl(148, 93%, 33%);
  --content-background: hsl(205, 46%, 95%); 
  --overlay: hsla(226, 26%, 13%, 0.8); 

  --main-inline-padding: 82px 82px;
  --main-block-padding: 60px 60px;

  --border-radius: 20px;

}